[Unit]
Description=Disable keyboard backlight on MSI laptops
After=multi-user.target

[Service]
ExecStart=/usr/bin/msi-ml -o
Type=simple

[Install]
WantedBy=multi-user.target
